      <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="offset-md-1 col-md-11">
              <h1><%= title %></h1>

              <a href="/survey-list/add" class="btn btn-primary" role="button">
                  <i class="fas fa-plus-circle"></i>General Survey List</a>

              <br>
              <table class="table table-hover">
                  <thead class="table-dark">
                      <!-- Header Row-->
                      <tr>
                          <th class="text-center col-2">#</th>
                          <th class="text-center col-2">Title</th>
                          <th class="text-center col-3">Subtitle</th>
                          <th class="text-center col-5">Description</th>
                          <th></th>
                          <th></th>
                      </tr>

                      <!-- Repeatable Template Row -->

                      <% for(let count = 0; count < SurveyList.length; count++) { %>
                      <tr>
                          <td class="text-center col-2"><%= count + 1 %></td>
                          <td class="text-center col-2"><%= SurveyList[count].title %></td>
                          <td class="text-center col-3"><%= SurveyList[count].subtitle %></td>
                          <td class="text-center col-5"><%= SurveyList[count].description %></td>

                          <td class="text-center col-1">
                              <a href="/survey-list/edit/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                                  <i class="fas fa-pencil-alt"></i> Take Survey</a>
                          </td>

                      </tr>
                      <% } %>
              </table>
          </div>
      </div>
  </div>