      <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="offset-md-1 col-md-11">
              <h1><%= title %></h1>

              <p>Public Surveys</p>

              <br>
              <table class="table table-hover">
                  <thead class="table-dark">
                      <!-- Header Row-->
                      <tr>
                          <th class="text-center col-2">#</th>
                          <th class="text-center col-2">Author</th>
                          <th class="text-center col-3">Survey name</th>
                          <th class="text-center col-5">Description</th>
                          <th></th>
                          <th></th>
                      </tr>

                      <!-- Repeatable Template Row -->

                      <% for(let count = 0; count < PublicSurveyList.length; count++) { %>
                      <tr>
                      <!--TODO - pending to assign properties to controllers - PENDING -->
                          <td class="text-center col-2"><%= count + 1 %></td>
                          <td class="text-center col-2"><%= PublicSurveyList[count].author %></td>
                          <td class="text-center col-3"><%= PublicSurveyList[count].surveyName %></td>
                          <td class="text-center col-5"><%= PublicSurveyList[count].description %></td>

                          <td class="text-center col-1"> 
                              <!-- //TODO <a href="/surveys/edit/<%= PublicSurveyList[count]._id %>" class="btn btn-primary btn-sm">
                                  <i class="fas fa-pencil-alt"></i> Take Survey</a>-->
                          </td>

                      </tr>
                      <% } %>
              </table>
          </div>
      </div>
  </div>